body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-image: url(img/autum-city.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

h1, h2 {
    text-align: center;
}

h1 {
    font-size: 65px;
    margin: 0 auto; /* Center the heading horizontally */
}

h2 {
  margin-bottom: 0px;
  font-size: 40px;
}

h3 {
    font-size: 30px;
    padding-left: 25px;
}

h4 {
  font-size: 25px;
  padding-left: 15px;
}

h5 {
  font-size: 20px;
}

p {
  font-weight: bold;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.main {
  margin-left: 15%;
  margin-right: 15%;
  background: white;
  opacity: 70%;
}

.sayings {
  padding-left: 25px;
}

.nightly-mongo-img {
  margin-top: 0px;
  width: 100%;
  height: 75px;
  background-image: url(img/night-sky.jpg);
  background-size: cover;
  background-position: center;
}

.philly-thing-img {
  margin-top: 0px;
  width: 100%;
  height: 185px;
  background-image: url(img/philly-thing.jpg);
  background-size: cover;
  background-position: center;
}

.entry {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    overflow-y: auto; /* Enable vertical scrolling */
    max-height: 300px; /* Adjust the maximum height as needed */
}

.entry-header {
    font-weight: bold;
}

.entry-content {
    margin-top: 10px;
}

.entry-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

/* Above is basic blog. Bottom is Scrollable feature for the Entries. */

.scrollable-div {
  overflow-y: auto;
  max-height: 300px; /* Adjust the height as needed */
}
